.nav-link {
    /* color: rgb(141, 211, 187); */
    color: #000;
}

.nav-link:hover {
    color: #000;
    background-color: rgb(141, 211, 187);
}

.nav-link.active {
    color: #000;
    background-color: rgb(141, 211, 187);
}

.nav-link.disabled {
    color: #ccc;
}