.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-color: transparent;
    box-shadow: 0 4px 12px rgba(156, 151, 151, 0.945);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(34, 149, 109, 0.945);
}

.shadow {
    box-shadow: 0 4px 8px rgb(78, 149, 81);
}

.img-fixed-size {
    height: 200px;
    object-fit: cover;
}

.btn {
    
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.carousel-inner img {
    max-height: 60px;
    object-fit: contain;
    filter: grayscale(20%);
    transition: transform 0.3s ease;
}

.carousel-inner img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.testimonial-card {
    background: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
}

.testimonial-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #71c0a4;
    opacity: 0.6;
}

.testimonial-card p {
    font-style: normal;
    position: relative;
    z-index: 1;
}

/* تأثيرات إضافية */
.transition-hover {
    transition: all 0.3s ease;
}


.carousel-item {
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.logo-card {
    min-width: 120px;
    max-width: 150px;
    height: 60px;
    box-shadow: 0 2px 6px rgba(255, 252, 252, 0.1);
    transition: transform 0.3s ease-out;
}

.logo-card:hover {
    transform: scale(1.05);
}
.highlight-card {
  background-color: #a0d9cb;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.price-tag {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.img-grid {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 150px;
    transition: transform 0.3s ease;
}
.img-grid:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.text-gradient {
   background: linear-gradient(90deg,#21703e, #9af48e, #065121);
  -webkit-background-clip: text;
  background-clip: text;
   -webkit-text-fill-color: transparent;
   z-index: 222;
}