<div class="container my-5">
    <h3 class="mb-4">Plan your perfect trip</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (trip of trips; track $index) {
        <div class="col-md-3">
            <div class="card h-100 shadow shadow-sm-lg position-relative">
                <img [src]="trip.image" class="card-img w-100 h-100" style="object-fit: cover;" alt="...">
                <div class="card-img-overlay d-flex flex-column justify-content-end align-items-center">
                    <h5 class="card-title text-white">{{ trip.title }}</h5>
                    <p class="card-text text-white">{{ trip.description }}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<div class="container my-5">
    <div class="row g-4">
        @for (trip of trips; track $index) {
        <div class="col-md-6">
            <div class="card text-center position-relative">
                <img [src]="trip.subimg" class="card-img w-100 img-fixed-size" style="object-fit: cover;" alt="Flights">
                <div class="card-img-overlay d-flex flex-column justify-content-end align-items-center">
                    <h5 class="card-title text-light">{{trip.title}}</h5>
                    <a href="/flight" class="btn btn-outline-success">{{trip.sub}}</a>
                </div>
            </div>
        </div>
        }

    </div>
</div>