<div class="card mb-3 shadow-sm overflow-hidden rounded-5">
  <div class="row g-0">
    <div class="col-md-4 position-relative">
      <img [src]="hotel?.imageUrl" [alt]="hotel?.name" class="img-fluid rounded-start w-100 object-fit-cover"
        style="height: 300px;">
      <!-- <span class="badge bg-light text-dark position-absolute top-0 end-0 m-2">9 images</span> -->
    </div>

    <div class="col-md-8">
      <div class="card-body">

        <div class="d-flex justify-content-between align-items-start mb-2">
          <div>
            <h5 class="card-title mb-1">{{ hotel?.name }}</h5>
            <p class="text-muted mb-1">
              <i class="fas fa-map-marker-alt text-danger me-1"></i>
              {{ hotel?.location }}
            </p>
          </div>
          <div class="text-end">
            <small class="text-muted">starting from</small>
            <h5 class="text-danger">${{ hotel?.rooms?.[0]?.price }}<small class="text-muted">/night</small></h5>
          </div>
        </div>

        <!-- تقييم النجوم -->
        <div class="mb-2">
          <small>
            @for (star of getStars(hotel?.rating ?? ''); track $index) {
            <i class="fas fa-star text-warning"></i>
            }
            @for (star of getEmptyStars(hotel?.rating ?? ''); track $index) {
            <i class="far fa-star text-warning"></i>
            }
            <span class="ms-2">{{ hotel?.rating ?? '' }} Star Hotel</span>
            <span class="mx-2">•</span>
            <span class="small">20+ Amenities</span>
          </small>
        </div>

        <!-- التقييم العام -->
        <div class="d-flex align-items-center mb-3">
          <span class="bg-transparent text-black-50 me-2">{{ ((hotel?.description ?? '').length > 100
            ? (hotel?.description ?? '').slice(0, 100) + '...'
            : (hotel?.description ?? '')) }}</span>

        </div>

        <hr class="my-3" style="opacity: 0.3;">
        <!-- الأزرار -->
        <div class="d-flex align-items-center mt-2">

          @if (isFavoriteSignal()) {
          <button class="btn btn-outline-danger border-1 me-2 d-flex justify-content-center align-items-center"
            style="width: 40px; height: 40px;" (click)="removeFromFavorites()">
            <i class="fas fa-heart-circle-minus"></i>
          </button>
          } @else {
          <button class="btn btn-outline-danger border-1 me-2 d-flex justify-content-center align-items-center"
            style="width: 40px; height: 40px;" (click)="addTofavorites()">
            <i class="far fa-heart"></i>
          </button>
          }
          <button [routerLink]="['/hotel-details', hotel?.id]" (click)="scrollToTop()" class="btn btn-success border-0 w-100">
            View Rooms
          </button>
        </div>

      </div>
    </div>
  </div>
</div>