.nav-tabs .nav-link.active {
    color:  var(--secondary-color) !important;
    border-color: var(--main-color) !important;
}
.nav-tabs:hover {
    color: var(--secondary-color) !important;
    background-color: transparent !important;
    
}
.text-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.text-overlay:hover {
    opacity: 1;
}