<div class="search-bar bg-white shadow-sm p-4 mt-n4 rounded position-relative z-index-10 mx-4">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row g-3 align-items-center">

            <!-- Radio Buttons -->
            <div class="col-md-12 text-center mb-3">
                <div class="d-flex justify-content-center flex-wrap gap-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchType" id="searchFlights"
                            value="flights">
                        <label class="form-check-label" for="searchFlights"><i
                                class="fas fa-plane me-1"></i>Flights</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchType" id="searchHotels"
                            value="hotels">
                        <label class="form-check-label" for="searchHotels"><i
                                class="fas fa-hotel me-1"></i>Hotels</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchType" id="searchTours"
                            value="tours">
                        <label class="form-check-label" for="searchTours"><i class="fas fa-map me-1"></i>Tours</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchType" id="searchCars"
                            value="cars">
                        <label class="form-check-label" for="searchCars"><i class="fas fa-car me-1"></i>Car
                            Rental</label>
                    </div>
                </div>
            </div>

            <!-- From -->
            <div class="col-md-2" [hidden]="!showFromSection()">
                <input type="text" class="form-control" placeholder="From" formControlName="from">
                @if (f['from'].touched && f['from'].invalid) {
                <div class="text-danger mt-1">
                    From is required
                </div>
                }

            </div>

            <!-- To -->
            <div class="col-md-2" [hidden]="!showToSection()">
                <input type="text" class="form-control" placeholder="Destination" formControlName="to">
                @if (f['to'].touched && f['to'].invalid) {
                <div class="text-danger mt-1">
                    To is required
                </div>
                }
            </div>

            <!-- Departure Date -->
            <div class="col-md-3" [hidden]="!showDepartureDate()">
                <input type="datetime-local" class="form-control" placeholder="Departure"
                    formControlName="departureDate">
                @if(f['departureDate'].touched && f['departureDate'].invalid) {
                <div class="text-danger mt-1">
                    Departure date is required
                </div>
                }

            </div>

            <!-- Return Date -->
            <div class="col-md-3" [hidden]="!showReturnDate()">
                <input type="datetime-local" class="form-control" placeholder="Return" formControlName="returnDate">
            </div>




            <!-- Search Button -->
            <div class="col-md-2">
                <button class="src btn btn-success w-100" type="submit">Search</button>
            </div>

        </div>
    </form>
</div>