<div class="container vh-100 d-flex justify-content-start align-items-center">
  <div class="row w-100">
    <!-- Form Section -->
    <div class="col-md-6 d-flex justify-content-center">
      <div class="p-4 w-100" style="max-width: 450px;">
        <img src="img/1.png" alt="Golobe Logo" class="mb-4" style="width: 100px; height: auto;" />
        <h2 class="mb-2">Reset Password</h2>
        <p class="mb-4">Set your new password to access your account</p>

        <form [formGroup]="resetForm" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label class="form-label">New Password</label>
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control" placeholder="********" />
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
            </div>
              @if(resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched) {
                  <div class="mb-2">
                      <p class="text-danger" *ngIf="this.resetForm.get('newPassword')?.errors?.['required']"> Password is required.</p>
                      <p class="text-danger" *ngIf="this.resetForm.get('newPassword')?.errors?.['weakPassword']"> Password must contain at least 8 characters, including uppercase, lowercase, number, and symbol.</p>
                      </div>
                  }
            </div> 
            <button  class="btn btn-login mt-3" type="submit"> 
              @if(isLoading){
              <i class="fa fa-spinner fa-spin me-2"></i>
              Resetting...
              } @else {
              Reset Password
              } 
            </button>

          <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        </form>

      </div>
    </div>

    <!-- Image Section -->
    <div class="col-md-6 d-flex justify-content-center align-items-center image-section">
      <img src="img/1.png" alt="Reset Password" class="rounded-5 custom-img" />
    </div>
  </div>
</div>
