/* You can add global styles to this file, and also import other style files */

:root {
    --main-color: #a0d9cb;
    --secondary-color: #0eb39d;
}

body, button, input, select, textarea {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stars i {
    color: #FFD700;
    /* Gold color for stars */
}

.search-bar {
    margin-top: -50px;
    z-index: 1000;
    position: relative;
}



.src {
    background-color: var(--main-color);
}