.home-body :host .navbar .nav-link,
.home-body :host .navbar .navbar-brand,
.home-body :host .navbar .btn-outline-light {
    color: black !important;
}

/* خلي الزرار أبيض مع حدود سوداء في الصفحة الرئيسية */
.home-body :host .btn-outline-light {
    background-color: white;
    border-color: white;
    color: black !important;
}

.home-body :host .btn-outline-light:hover {
    background-color: #3ab83a;
    border-color: white;
    color: black !important;
}

.home-body :host .btn-success {
    background-color: #1bb71b;
    border-color: #ffffff;
}

.btn-success:hover {
    background-color: var(--main-color);
    border-color: #ffffff;
}

.dropdown-menu {
    min-width: 220px;
    border-radius: 1rem !important;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-menu.custom-shift {
    transform: translateX(-100px);
    /* عدل حسب الحاجة */
}
.custom-dropdown {
  left: auto !important;
  right: 0 !important;
  top: 100% !important;
  transform: none !important;
  min-width: 220px;
  z-index: 1050; /* تأكد إنها فوق أي عنصر تاني */
}



/* لما الشاشة تصغر جدًا (موبايل)، خليها تحت بالكامل */
@media (max-width: 768px) {
  .custom-dropdown {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
  }
}
